body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:994px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:994px;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:420px;
  width:320px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u488 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:690px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u489 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:720px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u490 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:750px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u491 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:780px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u492 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:690px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u493 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:720px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u494 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:40px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u495 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:780px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u496 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:690px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u497 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:720px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u498 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:750px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u499 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:780px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u500 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:690px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u501 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:720px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u502 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:750px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u503 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:780px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u504 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:750px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
