body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1547px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1547px;
}
#u1029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:55px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:0px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:5px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:1450px;
  top:90px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:10px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:5px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:50px;
  width:300px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:0px;
  width:173px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1250px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1280px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1310px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1340px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:1250px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:1280px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:1310px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:1340px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:1250px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:1280px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:1310px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:1340px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:1250px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:1280px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:1310px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:1340px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:-5px;
  width:173px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:550px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:580px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:0px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
