body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1765px;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1765px;
}
#u359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:106px;
  width:83px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u361 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:65px;
  width:400px;
  height:98px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u362 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:106px;
  width:83px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u363 {
  border-width:0px;
  position:absolute;
  left:1295px;
  top:106px;
  width:83px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u364 {
  border-width:0px;
  position:absolute;
  left:1388px;
  top:106px;
  width:83px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u365 {
  border-width:0px;
  position:absolute;
  left:1491px;
  top:106px;
  width:83px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u366 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:0px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u367 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:0px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u368 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:632px;
  width:809px;
  height:453px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u369 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:0px;
  width:173px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u370 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:688px;
  width:330px;
  height:144px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
