body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1765px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1765px;
}
#u727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:106px;
  width:83px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u729 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:65px;
  width:400px;
  height:98px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u730 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:106px;
  width:83px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u731 {
  border-width:0px;
  position:absolute;
  left:1295px;
  top:106px;
  width:83px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u732 {
  border-width:0px;
  position:absolute;
  left:1388px;
  top:106px;
  width:83px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u733 {
  border-width:0px;
  position:absolute;
  left:1491px;
  top:106px;
  width:83px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u734 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:0px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u735 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:0px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u736 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:632px;
  width:809px;
  height:453px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u737 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:0px;
  width:173px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u738 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:688px;
  width:330px;
  height:144px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u739 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:1460px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u740 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:1490px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u741 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:1520px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u742 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:1550px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u743 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1460px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u744 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1490px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u745 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1520px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u746 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1550px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u747 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:1460px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u748 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:1490px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u749 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:1520px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u750 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:1550px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u751 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:1460px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u752 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:1490px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u753 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:1520px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u754 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:1550px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
