body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2286px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2286px;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u670 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u671 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u672 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u673 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:0px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u674 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:0px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u675 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:855px;
  width:835px;
  height:959px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u676 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:636px;
  width:317px;
  height:310px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u677 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:1005px;
  width:317px;
  height:370px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u678 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:399px;
  width:237px;
  height:107px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u679 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:0px;
  width:173px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u680 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:1980px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u681 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:2010px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u682 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:2040px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u683 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:2070px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u684 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:1980px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u685 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:2010px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u686 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:2040px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u687 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:2070px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u688 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:1980px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u689 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:2010px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u690 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:2040px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u691 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:2070px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u692 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:1980px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u693 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:2010px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u694 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:2040px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u695 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:2070px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u696 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
