body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1902px;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1902px;
}
#u287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:57px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u289 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:57px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u290 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:57px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u291 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:57px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u292 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:57px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u293 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:67px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u294 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:67px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u295 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:117px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u296 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:117px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u297 {
  border-width:0px;
  position:absolute;
  left:1358px;
  top:2px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u298 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:2px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u299 {
  border-width:0px;
  position:absolute;
  left:1516px;
  top:2px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u300 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:-3px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u301 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:-3px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u302 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:1590px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u303 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:1620px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u304 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:1650px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u305 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:1680px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u306 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:1590px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u307 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:1620px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u308 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:1650px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u309 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:1680px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u310 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:1590px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u311 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:1620px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u312 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:1650px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u313 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:1680px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u314 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:1590px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u315 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:1620px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u316 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:1650px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u317 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:1680px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u318 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:50px;
  width:300px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u319 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:252px;
  width:226px;
  height:358px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
