body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1902px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1902px;
}
#u891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:57px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u893 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:57px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u894 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:57px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u895 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:57px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u896 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:67px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u897 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:67px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u898 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:117px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u899 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:117px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u900 {
  border-width:0px;
  position:absolute;
  left:1358px;
  top:2px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u901 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:2px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u902 {
  border-width:0px;
  position:absolute;
  left:1516px;
  top:2px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u903 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:-3px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u904 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:-3px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u905 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:1590px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u906 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:1620px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u907 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:1650px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u908 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:1680px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u909 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:1590px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u910 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:1620px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u911 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:1650px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u912 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:1680px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u913 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:1590px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u914 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:1620px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u915 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:1650px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u916 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:1680px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u917 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:1590px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u918 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:1620px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u919 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:1650px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u920 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:1680px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u921 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:50px;
  width:300px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u922 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:252px;
  width:226px;
  height:358px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u923 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:0px;
  width:173px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u924 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:57px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
