body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1898px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1898px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u111 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u112 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u113 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u114 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u115 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:0px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u116 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:0px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u117 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:70px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u118 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:70px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u119 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:120px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u120 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:120px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u121 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:5px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u122 {
  border-width:0px;
  position:absolute;
  left:1420px;
  top:5px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u123 {
  border-width:0px;
  position:absolute;
  left:1498px;
  top:5px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u124 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:50px;
  width:300px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u125 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:1590px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u126 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:1620px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u127 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:1650px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u128 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:1680px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u129 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:1590px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u130 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:1620px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u131 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:1650px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u132 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:1680px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u133 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:1590px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u134 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:1620px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u135 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:1650px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u136 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:1680px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u137 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:1590px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u138 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:1620px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u139 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:1650px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u140 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:1680px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u141 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:550px;
  width:300px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u142 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:180px;
  width:60px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u143 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:180px;
  width:60px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:0px;
  width:173px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
