body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:3241px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:3241px;
}
#u406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:2930px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u408 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:2960px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u409 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:2990px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u410 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:3020px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u411 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:2930px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u412 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:2960px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u413 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:2990px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u414 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:3020px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u415 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:2930px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u416 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:2960px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u417 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:2990px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u418 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:3020px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u419 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:2930px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u420 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:2960px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u421 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:2990px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u422 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:3020px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u423 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:57px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u424 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:57px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u425 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:57px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u426 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:57px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u427 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:57px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u428 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:-3px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u429 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:-3px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u430 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:67px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u431 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:67px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u432 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:117px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u433 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:117px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u434 {
  border-width:0px;
  position:absolute;
  left:1358px;
  top:2px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u435 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:2px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u436 {
  border-width:0px;
  position:absolute;
  left:1516px;
  top:2px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u437 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:50px;
  width:300px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u438 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:700px;
  width:830px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u439 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:910px;
  width:830px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u440 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:1110px;
  width:830px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u441 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:1310px;
  width:830px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u442 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:1510px;
  width:830px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u443 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:1720px;
  width:830px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u444 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:1920px;
  width:830px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u445 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:2120px;
  width:830px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u446 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:2330px;
  width:830px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u447 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:2530px;
  width:830px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u448 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:682px;
  width:226px;
  height:358px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u449 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:192px;
  width:518px;
  height:358px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u450 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:192px;
  width:578px;
  height:358px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u451 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:0px;
  width:173px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
