body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:3241px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:3241px;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:2930px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u847 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:2960px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u848 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:2990px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u849 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:3020px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u850 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:2930px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u851 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:2960px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u852 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:2990px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u853 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:3020px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u854 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:2930px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u855 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:2960px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u856 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:2990px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u857 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:3020px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u858 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:2930px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u859 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:2960px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u860 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:2990px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u861 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:3020px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u862 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:57px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u863 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:57px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u864 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:57px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u865 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:57px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u866 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:-3px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u867 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:-3px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u868 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:67px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u869 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:67px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u870 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:117px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u871 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:117px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u872 {
  border-width:0px;
  position:absolute;
  left:1358px;
  top:2px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u873 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:2px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u874 {
  border-width:0px;
  position:absolute;
  left:1516px;
  top:2px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u875 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:50px;
  width:300px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u876 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:700px;
  width:830px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u877 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:910px;
  width:830px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u878 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:1110px;
  width:830px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u879 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:1310px;
  width:830px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u880 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:1510px;
  width:830px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u881 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:1720px;
  width:830px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u882 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:1920px;
  width:830px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u883 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:2120px;
  width:830px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u884 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:2330px;
  width:830px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u885 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:2530px;
  width:830px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u886 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:682px;
  width:226px;
  height:358px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u887 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:192px;
  width:518px;
  height:358px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u888 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:192px;
  width:578px;
  height:358px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u889 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:0px;
  width:173px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u890 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
