body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1662px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1662px;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:106px;
  width:83px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u820 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:65px;
  width:400px;
  height:98px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u821 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:106px;
  width:83px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u822 {
  border-width:0px;
  position:absolute;
  left:1295px;
  top:106px;
  width:83px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u823 {
  border-width:0px;
  position:absolute;
  left:1388px;
  top:106px;
  width:83px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u824 {
  border-width:0px;
  position:absolute;
  left:1491px;
  top:106px;
  width:83px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u825 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:0px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u826 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:0px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u827 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:0px;
  width:173px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u828 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:688px;
  width:330px;
  height:144px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u829 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1350px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u830 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1380px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u831 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1410px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u832 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1440px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u833 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:1350px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u834 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:1380px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u835 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:1410px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u836 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:1440px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u837 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:1350px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u838 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:1380px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u839 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:1410px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u840 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:1440px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u841 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:1350px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u842 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:1380px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u843 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:1410px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u844 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:1440px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
