body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1388px;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1388px;
}
#u344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u346 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u347 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u348 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u349 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:70px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u350 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:70px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u351 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:120px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u352 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:120px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u353 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:5px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u354 {
  border-width:0px;
  position:absolute;
  left:1420px;
  top:5px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u355 {
  border-width:0px;
  position:absolute;
  left:1498px;
  top:5px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u356 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:50px;
  width:300px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u357 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u358 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:0px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u359 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:0px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u360 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:0px;
  width:173px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u361 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1080px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u362 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1110px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u363 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1140px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u364 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1170px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u365 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:1080px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u366 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:1110px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u367 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:1140px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u368 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:1170px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u369 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:1080px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u370 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:1110px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u371 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:1140px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u372 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:1170px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u373 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:1080px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u374 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:1110px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u375 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:1140px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u376 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:1170px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u377 {
  border-width:0px;
  position:absolute;
  left:1268px;
  top:760px;
  width:300px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u378 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:180px;
  width:60px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u379 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:180px;
  width:60px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
