body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2552px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2552px;
}
#u273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u275 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u276 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u277 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u278 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:60px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u279 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:0px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u280 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:0px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u281 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:399px;
  width:237px;
  height:107px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u282 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:70px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u283 {
  border-width:0px;
  position:absolute;
  left:1474px;
  top:70px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u284 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:120px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u285 {
  border-width:0px;
  position:absolute;
  left:1474px;
  top:120px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u286 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:5px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u287 {
  border-width:0px;
  position:absolute;
  left:1434px;
  top:5px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u288 {
  border-width:0px;
  position:absolute;
  left:1512px;
  top:5px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u289 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:986px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u290 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:986px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u291 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:986px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u292 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:1096px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u293 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:1096px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u294 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:1096px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u295 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:1401px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u296 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:1401px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u297 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:1401px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u298 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:1511px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u299 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:1520px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u300 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:1511px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u301 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:1820px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u302 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:1820px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u303 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:1820px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u304 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:1940px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u305 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:1940px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u306 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:1940px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u307 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:640px;
  width:170px;
  height:170px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u308 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:640px;
  width:170px;
  height:170px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u309 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:640px;
  width:170px;
  height:170px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u310 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:50px;
  width:300px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u311 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:2240px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u312 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:2270px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u313 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:2300px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u314 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:2330px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u315 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:2240px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u316 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:2270px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u317 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:2300px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u318 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:2330px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u319 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:2240px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u320 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:2270px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u321 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:2300px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u322 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:2330px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u323 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:2240px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u324 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:2270px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u325 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:2300px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u326 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:2330px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u327 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:0px;
  width:173px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u328 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:640px;
  width:170px;
  height:170px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u329 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:886px;
  width:1211px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u330 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:1305px;
  width:1211px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u331 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:1726px;
  width:1211px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
